@import "../../../style/variables.less";

.custom-input {
  border: 2px solid @base-color;
  font-size: @desktop-font-size-normal;
  border-radius: @base-border-radius;
  padding: 0 5px;
  &:focus {
    outline: none;
    border: 2px solid @base-color-focus;
  }
}
