@gray: rgb(122, 122, 122);
@gray-light: lighten(rgb(122, 122, 122), 40%);
@blue: #1266f1;

@base-color: @blue;
@base-color-focus: darken(@blue, 10%);
@base-color-active: darken(@blue, 20%);
@base-color-light: lighten(@blue, 40%);

@base-border-radius: 0.35rem;
@base-border-small: 0.25rem;

@desktop-font-size-normal: 0.7rem;
